# Banco de dados (Neon)
DATABASE_URL=postgresql://<user>:<password>@<host>.neon.tech/<dbname>?sslmode=require

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Whitelist de emails autorizados (separados por vírgula)
ALLOWED_EMAILS=email1@exemplo.com,email2@exemplo.com
